header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  border-bottom: 5px solid var(--secondary-color);
}

div.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo>img {
  width: 45px;
}

div.nav {
  display: flex;
}

ul {
  display: flex;
  gap: 1rem;
}

ul>li {
  text-decoration: none;
  list-style: none;
}

li>a {
  font-size: larger;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

section.container {
  padding: 1rem;
  background-color: var(--tertiary-color);
  height: 90vh;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.wrapper a{
  text-decoration: none;
}
.wrapper h3{
  color: var(--text);
  font-size: 24px;
}