{{ define "content" }}
<link rel="stylesheet" href="/static/css/admin/root.css">
<link rel="stylesheet" href="/static/css/admin/index.css">
<section class="content">
  <div class="card">
    <section class="card-header">
      <p class="card-header__text">
        Client Name
      </p>
      <p class="card-header__text">
        Order Number
      </p>
    </section>
    <section class="card-body">
      <table>
        <thead>
          <tr>
            <th>Quantity</td>
            <th>Name</td>
            <th>Price</td>
            <th>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Blueberry</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wintermelon</td>
            <td>90.00</td>
            <td>180.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Hokaido</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
        </tbody>
      </table>
      <div class="grand-total">Grand Total: 270.00</div>
    </section>
  </div>
  <div class="card">
    <section class="card-header">
      <p class="card-header__text">
        Client Name
      </p>
      <p class="card-header__text">
        Order Number
      </p>
    </section>
    <section class="card-body">
      <table>
        <thead>
          <tr>
            <th>Quantity</td>
            <th>Name</td>
            <th>Price</td>
            <th>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Blueberry</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wintermelon</td>
            <td>90.00</td>
            <td>180.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Hokaido</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
        </tbody>
      </table>
      <div class="grand-total">Grand Total: 270.00</div>
    </section>
  </div>
  <div class="card">
    <section class="card-header">
      <p class="card-header__text">
        Client Name
      </p>
      <p class="card-header__text">
        Order Number
      </p>
    </section>
    <section class="card-body">
      <table>
        <thead>
          <tr>
            <th>Quantity</td>
            <th>Name</td>
            <th>Price</td>
            <th>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Blueberry</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wintermelon</td>
            <td>90.00</td>
            <td>180.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Hokaido</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
        </tbody>
      </table>
      <div class="grand-total">Grand Total: 270.00</div>
    </section>
  </div>
  <div class="card">
    <section class="card-header">
      <p class="card-header__text">
        Client Name
      </p>
      <p class="card-header__text">
        Order Number
      </p>
    </section>
    <section class="card-body">
      <table>
        <thead>
          <tr>
            <th>Quantity</td>
            <th>Name</td>
            <th>Price</td>
            <th>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Blueberry</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Wintermelon</td>
            <td>90.00</td>
            <td>180.00</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Hokaido</td>
            <td>95.00</td>
            <td>95.00</td>
          </tr>
        </tbody>
      </table>
      <div class="grand-total">Grand Total: 270.00</div>
    </section>
  </div>
  
</section>
{{ end }}